@font-face {
  font-family: 'DellReplica';
  src: url("../fonts/DellReplica-Regular.otf"); }
@font-face {
  font-family: 'DellReplicaBold';
  src: url("../fonts/DellReplica-Heavy.otf"); }
@font-face {
  font-family: 'MyriadRegular';
  src: url("../assets/fonts/Myriad-Pro-Regular.ttf"); }
@font-face {
  font-family: 'DellReplicaLight';
  src: url("../fonts/DellReplica-Light.otf"); }
@font-face {
  font-family: 'DellReplicaMenu';
  src: url("../fonts/subset-DellReplica-Regular.eot");
  src: url("../fonts/subset-DellReplica-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-DellReplica-Regular.woff2") format("woff2"), url("../fonts/subset-DellReplica-Regular.woff") format("woff"), url("../fonts/subset-DellReplica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
body {
  font-family: "DellReplica", "MyriadRegular"; }

h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: "DellReplica", "MyriadRegular";
  margin: 0; }

strong {
  font-family: 'DellReplicaBold'; }

a:focus {
  outline: black auto 2px; }

p {
  margin: 0; }

ul {
  list-style-type: none; }

ul, ol {
  padding: 0;
  margin: 0; }

.container-fluid {
  margin: 0;
  padding: 0; }

.mt-145 {
  margin-top: 15vh; }

.mt-100 {
  margin-top: 100px; }

.mt-90 {
  margin-top: 90px; }

.mt-40 {
  margin-top: 40px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mt-20 {
  margin-top: 20px; }

.mt-10 {
  margin-top: 10px; }

.mt-30 {
  margin-top: 30px; }

.hideme {
  opacity: 0; }

.relative {
  position: relative; }

.hidden-md-up {
  display: none; }

.modal {
  display: none;
  position: fixed;
  z-index: 10000000000000000000000;
  background: url("../images/modal/bg.png") no-repeat;
  background-size: cover;
  max-width: 1160px;
  width: 100%;
  border: 1px solid #08c1c1;
  outline: 0;
  left: 50%;
  top: 48px;
  transform: translate(-50%, 0);
  height: auto;
  overflow: auto; }
  .modal .modal-body {
    padding: 0; }
  .modal .modal-dialog_custom {
    width: 100%;
    float: left; }
  .modal .modal-header {
    background: url(../images/modal/top.png) 0 0 repeat-x;
    height: 46px; }
    .modal .modal-header .close {
      float: right;
      background: url(../images/modal/close.png) 50% 50% no-repeat;
      width: 46px;
      height: 46px;
      border: 0;
      text-indent: -99999px;
      cursor: pointer;
      outline: 0; }
  .modal .container_video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; }
    .modal .container_video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

#aboutus {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 100px; }
  #aboutus .modal-content {
    background-color: transparent; }
  #aboutus h3 {
    font-size: 28px;
    text-transform: uppercase;
    font-family: 'DellReplicaBold';
    font-weight: bold;
    margin: 30px 0; }
  #aboutus h4 {
    font-size: 18px; }
  #aboutus a {
    margin: 0 10px;
    align-content: center;
    justify-content: center; }
    #aboutus a img {
      width: 100%;
      align-content: center;
      justify-content: center; }
  #aboutus .logo {
    max-width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-content: center; }

.container-fluid-nav {
  float: left;
  overflow: hidden;
  width: 100%; }

header {
  position: fixed;
  background: url(../images/nav/nav.png) 0 0 repeat-x;
  width: 100%;
  height: 48px;
  z-index: 10000000; }
  header .logo {
    display: block;
    float: left; }
  header .container-nav {
    max-width: 1140px;
    margin: 0 auto; }
    header .container-nav img {
      margin-top: 12px;
      float: left; }
    header .container-nav nav {
      left: 0;
      top: 0;
      float: left;
      margin-left: 44px;
      width: calc(100% - 189px); }
      header .container-nav nav ul {
        margin: 0;
        padding: 0;
        float: left; }
        header .container-nav nav ul.social {
          float: right;
          background: url(../images/nav/nav_bg.png) 0 50% no-repeat;
          padding-left: 7px; }
          header .container-nav nav ul.social li {
            background: none; }
            header .container-nav nav ul.social li:last-child {
              background: none; }
              header .container-nav nav ul.social li:last-child:after {
                background: none; }
            header .container-nav nav ul.social li a:before {
              display: none; }
            header .container-nav nav ul.social li a.facebook {
              background: url(../images/nav/facebook.png) 0 50% no-repeat;
              text-indent: -9999px;
              width: 35px; }
            header .container-nav nav ul.social li a.linkedin {
              background: url(../images/nav/linkendin.png) 0 50% no-repeat;
              text-indent: -9999px;
              width: 35px;
              margin-right: 10px; }
      header .container-nav nav li {
        display: inline-block;
        list-style: none;
        background: url(../images/nav/nav_bg.png) 0 50% no-repeat;
        line-height: 48px;
        padding-left: 4px;
        height: 48px;
        float: left;
        position: relative; }
        header .container-nav nav li:last-child:after {
          content: '';
          background: url(../images/nav/nav_bg.png) 100% 50% no-repeat;
          height: 48px;
          width: 4px;
          position: absolute;
          right: -4px;
          top: 0; }
      header .container-nav nav a {
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        font-family: 'DellReplicaMenu';
        position: relative;
        text-decoration: none;
        line-height: 48px;
        display: inline-block;
        transition: all 0.3s;
        position: relative; }
        header .container-nav nav a span {
          display: block;
          padding: 0 20px;
          width: 100%;
          position: relative;
          overflow: hidden;
          height: 52px; }
          header .container-nav nav a span:after {
            content: '';
            width: 0;
            transition: all 0.3s;
            position: absolute;
            left: 0;
            top: 100%;
            height: 52px;
            z-index: -1;
            background: url(../images/nav/nav_a.png) 0 0 repeat-x; }
        header .container-nav nav a:before {
          content: '';
          width: 0;
          transition: all 1s;
          position: absolute;
          left: 0;
          top: 100%; }
        header .container-nav nav a:hover {
          color: #000; }
          header .container-nav nav a:hover:before {
            width: 100%;
            background: #ff000c;
            height: 2px; }
          header .container-nav nav a:hover span:after {
            width: 100%;
            top: 0; }
          header .container-nav nav a:hover span:before {
            width: 4px;
            top: 0; }
  @media only screen and (max-width: 1100px) {
    header .logo {
      margin-left: 10px; }
    header .container-nav {
      display: inline-block;
      cursor: pointer; }
    header .container-nav nav a span:after {
      background: none; }
    header .bar1,
    header .bar2,
    header .bar3 {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s; }
    header .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px); }
    header .change .bar2 {
      opacity: 0; }
    header .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px); }
    header .social {
      position: absolute;
      top: 0;
      right: 20%;
      background: initial !important; }
    header .nav li {
      border-bottom: 1px solid #fff;
      line-height: 92px !important;
      height: 92px !important; }
      header .nav li a {
        font-size: 21px;
        line-height: 92px; }
        header .nav li a span {
          height: 92px !important; }
    header .container-nav {
      width: 100%; }
      header .container-nav nav {
        width: auto !important;
        float: right !important; }
        header .container-nav nav ul {
          float: right; }
          header .container-nav nav ul li {
            display: none; }
          header .container-nav nav ul.social {
            float: left;
            display: block;
            background: none !important; }
            header .container-nav nav ul.social li {
              display: inline-block; }
            header .container-nav nav ul.social .linkedin,
            header .container-nav nav ul.social .facebook {
              width: 28px !important;
              background-size: 100% auto !important; } }

#menu-mobile {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  float: right;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 10px; }
  #menu-mobile .bar1,
  #menu-mobile .bar2,
  #menu-mobile .bar3 {
    width: 33px;
    height: 2px;
    background-color: #6d6d6d;
    margin: 6px 0;
    transition: 0.4s; }
  #menu-mobile.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px); }
  #menu-mobile.change .bar2 {
    opacity: 0; }
  #menu-mobile.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px); }
  @media only screen and (max-width: 1100px) {
    #menu-mobile {
      display: inline-block; } }

nav.open .nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  padding: 0 20px;
  padding-top: 18%;
  left: 0;
  top: 44px;
  background: #960012;
  background: linear-gradient(0deg, rgba(150, 0, 18, 0.9) 0%, rgba(255, 0, 0, 0.9) 100%); }
  nav.open .nav li {
    display: block;
    width: 100%;
    text-align: center;
    background: none;
    padding: 0; }
    nav.open .nav li:after {
      display: none; }
    nav.open .nav li a {
      width: 100%; }

main .header-section {
  background: url("../images/mainbg.png");
  background-repeat: repeat-x;
  color: #fff;
  overflow: hidden;
  position: relative; }
  main .header-section .title {
    margin-bottom: 70px; }
    main .header-section .title h1 {
      position: relative;
      text-align: right;
      line-height: 0.9;
      text-transform: uppercase;
      font-size: 42px;
      font-family: 'DellReplicaLight';
      margin-top: 50px;
      margin-left: 50px;
      padding-bottom: 35px; }
      main .header-section .title h1 strong {
        display: block;
        font-size: 64px; }
      main .header-section .title h1:after {
        content: '';
        border-bottom: 2px solid #fff;
        width: 9999px;
        position: absolute;
        bottom: 0;
        left: 0; }
  main .header-section .phone-bg {
    background: url("../images/phone-city-bg.png");
    background-repeat: no-repeat;
    height: 510px;
    background-size: auto; }
    main .header-section .phone-bg .short_description {
      margin-bottom: 26px; }
      main .header-section .phone-bg .short_description h2, main .header-section .phone-bg .short_description h3 {
        font-family: 'DellReplicaBold'; }
      main .header-section .phone-bg .short_description p {
        font-family: 'DellReplicaLight'; }
      main .header-section .phone-bg .short_description:nth-child(2) p {
        padding-right: 20%; }
  main .header-section .line-mountain {
    width: 100%;
    height: 206px;
    z-index: 1;
    background: url("../images/mountain-top.png");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    position: absolute;
    background-size: auto;
    right: 0;
    bottom: 20px;
    background-position: 50% 0; }
  main .header-section .text-under-phone {
    text-transform: uppercase;
    font-size: 30px; }
    main .header-section .text-under-phone .title {
      text-align: center; }
      main .header-section .text-under-phone .title p {
        font-family: 'DellReplicaLight'; }
  main .header-section .top-left-bg {
    width: 50%;
    background: url("../images/left-top-bg.png");
    clip-path: polygon(0 0px, 100% 0px, 100% 0, 0px 100%);
    background-repeat: repeat;
    height: 1530px;
    position: absolute;
    top: 0;
    left: 0; }
    main .header-section .top-left-bg .border-yellow {
      background-color: #ffb520;
      width: 100%;
      height: 100%;
      clip-path: polygon(98% 0, 100% 0, 100% 100%, 0 100%, 0 98%); }
    main .header-section .top-left-bg .covidki {
      background: url("../images/covidkki.png");
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      width: 75%;
      background-position: 0 10px; }
  main .header-section .city-bg {
    background: url("../images/city-cut.png");
    background-repeat: no-repeat;
    background-size: contain; }
    main .header-section .city-bg .title-header {
      text-align: center;
      font-size: 30px;
      text-transform: uppercase;
      position: absolute;
      top: 60px; }
      main .header-section .city-bg .title-header p {
        font-family: 'DellReplicaLight'; }
    main .header-section .city-bg .round-container {
      margin-top: 16vw;
      display: flex;
      justify-content: center;
      align-items: center; }
      main .header-section .city-bg .round-container .round {
        text-align: center;
        background-color: #efba34;
        color: #1E65A4;
        height: 260px;
        width: 260px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 120px; }
      main .header-section .city-bg .round-container .description {
        text-transform: uppercase;
        position: relative;
        width: 25%; }
        main .header-section .city-bg .round-container .description strong {
          font-size: 32px;
          line-height: 1; }
        main .header-section .city-bg .round-container .description p {
          font-family: 'DellReplicaLight';
          font-size: 18px; }
      main .header-section .city-bg .round-container .left-text {
        text-align: right;
        right: 5px; }
        main .header-section .city-bg .round-container .left-text p {
          padding-left: 38%; }
      main .header-section .city-bg .round-container .right-text {
        text-align: left;
        left: 5px; }
        main .header-section .city-bg .round-container .right-text p {
          padding-right: 38%; }
    main .header-section .city-bg .title {
      text-align: center;
      text-transform: uppercase;
      padding: 0 34%; }
      main .header-section .city-bg .title strong {
        font-size: 32px; }
      main .header-section .city-bg .title p {
        font-family: 'DellReplicaLight';
        font-size: 18px; }
  main .header-section .mapa-eu {
    background: url("../images/eu-map-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding-top: 20px; }
    main .header-section .mapa-eu h2 {
      font-size: 60px;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 35px;
      margin-left: 60px; }
      main .header-section .mapa-eu h2:after {
        content: '';
        border-bottom: 2px solid #fff;
        width: 9999px;
        position: absolute;
        bottom: 0;
        left: 0; }
    main .header-section .mapa-eu .rounded-field {
      margin: 10px 0;
      border: 1px solid #fff;
      border-radius: 40px;
      background: url("../images/bg-big-label-transparent.png");
      background-repeat: no-repeat;
      background-size: 102% 100%;
      background-position: -2px 0px; }
      main .header-section .mapa-eu .rounded-field h3 {
        text-transform: uppercase;
        font-size: 32px;
        margin: 30px; }
      main .header-section .mapa-eu .rounded-field p {
        font-size: 18px;
        margin: 0 30px 20px; }
    main .header-section .mapa-eu .alert {
      color: #ffb520;
      text-transform: uppercase;
      font-size: 42px;
      padding-bottom: 0;
      margin-bottom: 0; }
    main .header-section .mapa-eu .alert-box {
      color: #000;
      background-color: #ffb520;
      border: 1px solid #fff;
      border-radius: 50px;
      padding: 15px 10px;
      font-size: 18px;
      text-align: center; }
      main .header-section .mapa-eu .alert-box strong {
        font-size: 30px; }
    main .header-section .mapa-eu p {
      font-family: 'DellReplicaLight'; }
    main .header-section .mapa-eu .simple-box {
      background: url("../images/bg-button-transparent.png");
      background-repeat: no-repeat;
      background-size: 101% 100%;
      background-position: -2px 0px;
      border: 1px solid #fff;
      border-radius: 50px;
      padding: 24px 10px;
      text-align: center; }
      main .header-section .mapa-eu .simple-box p {
        font-size: 36px;
        text-transform: uppercase; }
  main .header-section .virtual-studio {
    background-color: #4363a1; }
    main .header-section .virtual-studio h2 {
      font-size: 42px;
      font-family: 'DellReplicaLight';
      text-transform: uppercase; }
    main .header-section .virtual-studio .owl-carousel {
      margin-top: 100px;
      position: relative;
      z-index: 999; }
      main .header-section .virtual-studio .owl-carousel .owl-stage-outer {
        overflow: inherit; }
      main .header-section .virtual-studio .owl-carousel .owl-item .img-container {
        height: 35vh;
        background-size: cover;
        background-repeat: no-repeat; }
        main .header-section .virtual-studio .owl-carousel .owl-item .img-container:before {
          content: '';
          position: absolute;
          background-color: #6c628b8c;
          height: 100%;
          width: 100%; }
      main .header-section .virtual-studio .owl-carousel .owl-item.center {
        position: relative;
        z-index: 999;
        transform: scale(1.1, 1.2); }
        main .header-section .virtual-studio .owl-carousel .owl-item.center .img-container:before {
          content: '';
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: transparent; }
    main .header-section .virtual-studio .owl-nav {
      display: flex;
      justify-content: space-around;
      position: absolute;
      width: 100%;
      top: 33%; }
      main .header-section .virtual-studio .owl-nav .owl-prev {
        background: url("../images/left-arrow.png");
        background-repeat: no-repeat;
        width: 130px;
        height: 120px;
        background-size: contain; }
        main .header-section .virtual-studio .owl-nav .owl-prev span {
          display: none; }
      main .header-section .virtual-studio .owl-nav .owl-next {
        background: url("../images/right-arrow.png");
        background-repeat: no-repeat;
        width: 130px;
        height: 120px;
        background-size: contain; }
        main .header-section .virtual-studio .owl-nav .owl-next span {
          display: none; }
  main .header-section .yellow-mountain {
    background: url("../images/mountain-yellow-bg.png");
    background-color: #214d8e;
    background-repeat: no-repeat;
    height: 340px;
    position: relative;
    z-index: 9;
    margin-bottom: -10px;
    height: 38vh;
    background-position: bottom; }
    main .header-section .yellow-mountain .text-container {
      text-align: center;
      margin-top: 60px; }
      main .header-section .yellow-mountain .text-container p {
        font-size: 24px;
        font-family: 'DellReplicaLight';
        line-height: 1.1;
        margin-bottom: 40px; }
      main .header-section .yellow-mountain .text-container strong {
        text-transform: uppercase;
        font-size: 26px; }
main .bariery-out {
  background-color: #ffb520;
  color: #00274F; }
  main .bariery-out h2 {
    width: 100%;
    margin-top: 14vh;
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase; }
  main .bariery-out .text-container {
    font-family: 'DellReplicaLight';
    font-size: 18px;
    padding-right: 10px; }
    main .bariery-out .text-container h4 {
      font-family: 'DellReplicaBold';
      margin-top: 20px;
      font-size: 30px;
      text-transform: uppercase; }
  main .bariery-out .title-container {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px; }
  main .bariery-out .container {
    height: 40vh; }
  main .bariery-out .bg {
    background: url("../images/wieza-gradient-bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
    height: 60vh; }
    main .bariery-out .bg .bg-studio {
      background: url("../images/studio-img.png");
      height: 540px;
      background-repeat: no-repeat;
      background-position: center;
      display: flex; }
      main .bariery-out .bg .bg-studio .pinka {
        background-repeat: no-repeat;
        height: 300px;
        width: 100%; }
      main .bariery-out .bg .bg-studio .pinka-left {
        background-image: url("../images/left-pineczka.png");
        background-position: right; }
      main .bariery-out .bg .bg-studio .pinka-center {
        background-image: url("../images/center-pineczka.png");
        background-position: center;
        width: 400px; }
      main .bariery-out .bg .bg-studio .pinka-right {
        background-image: url("../images/right-pineczka.png");
        background-position: left; }
main .nagrania {
  background: url("../images/nagranie-bg.png");
  background-repeat: repeat-x;
  width: 100%;
  background-color: #cbdcea; }
  main .nagrania .bg {
    background: url("../images/studio-mountain.png");
    background-position: top;
    background-repeat: no-repeat;
    height: 90vh; }
  main .nagrania .header-container {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: 'DellReplicaLight';
    text-transform: uppercase;
    color: #00274F;
    margin-top: 50px; }
  main .nagrania .text-container {
    padding-top: 200px; }
    main .nagrania .text-container strong {
      color: #ffb520;
      font-size: 26px; }
    main .nagrania .text-container p {
      color: #fff; }
    main .nagrania .text-container p:first-child {
      font-size: 14px; }
    main .nagrania .text-container p:nth-child(2) {
      margin-top: 20px;
      font-family: 'DellReplicaLight';
      font-size: 20px;
      line-height: 1; }
  main .nagrania .img-container {
    background: url("../images/man-img.png");
    background-position: left;
    background-repeat: no-repeat;
    height: 420px;
    width: 230px;
    margin: 110px 0 90px; }
main .efektywnosc {
  display: flex;
  background: url("../images/efektywnosc-bg.png");
  background-repeat: repeat-x;
  background-color: #04123a; }
  main .efektywnosc .bg {
    background: url("../images/efektywnosc.png");
    background-position: top;
    background-repeat: no-repeat;
    height: 90vh; }
  main .efektywnosc .header-container {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: 'DellReplicaLight';
    text-transform: uppercase;
    color: #00274F;
    margin-top: 50px; }
  main .efektywnosc .text-container {
    padding-top: 80%; }
    main .efektywnosc .text-container p {
      color: #fff; }
  main .efektywnosc .bottom-container {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 100px;
    font-family: 'DellReplicaLight'; }
    main .efektywnosc .bottom-container strong {
      font-size: 26px;
      text-transform: uppercase; }
main .bg-nazywo {
  background: url("../images/nazywo-bg.png");
  background-repeat: repeat-x;
  height: 100vh;
  background-color: #ebf2f7; }
  main .bg-nazywo .section-title {
    height: 15vh;
    text-align: center;
    color: #fff;
    text-transform: uppercase; }
    main .bg-nazywo .section-title h2 {
      font-size: 42px;
      margin-top: 70px; }
      main .bg-nazywo .section-title h2 span {
        display: block; }
      main .bg-nazywo .section-title h2 strong {
        position: relative; }
        main .bg-nazywo .section-title h2 strong:after {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          background: url("../images/green-light.png");
          background-position: center;
          background-size: contain;
          right: -20px;
          top: -10px; }
  main .bg-nazywo .studio-live {
    background: url("../images/nazywo.png");
    background-position: 0 center;
    height: 85vh;
    position: relative;
    z-index: 9;
    background-repeat: no-repeat;
    align-items: center;
    background-size: cover; }
    main .bg-nazywo .studio-live .description-container {
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: 22px;
      position: absolute;
      top: 100px; }
      main .bg-nazywo .studio-live .description-container p {
        line-height: 1;
        font-family: 'DellReplicaLight'; }
      main .bg-nazywo .studio-live .description-container strong {
        text-transform: uppercase; }
    main .bg-nazywo .studio-live .middle-description {
      color: #000;
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 40px; }
      main .bg-nazywo .studio-live .middle-description p {
        margin-top: 30px;
        font-size: 26px;
        font-family: 'DellReplicaLight'; }
        main .bg-nazywo .studio-live .middle-description p strong {
          text-transform: uppercase; }
main .youtube-box {
  background: url("../images/forma-bg.png");
  background-repeat: repeat-x;
  background-color: #0162af;
  background-position: bottom;
  text-align: center;
  height: 100vh; }
  main .youtube-box .bottom-header {
    background: url("../images/nazywo2.png");
    background-position: 0 top;
    width: 100%;
    height: 35vh;
    background-size: cover;
    color: #0162af;
    line-height: 1; }
    main .youtube-box .bottom-header h2 {
      font-size: 32px;
      text-transform: uppercase;
      padding-top: 60px; }
    main .youtube-box .bottom-header span {
      font-family: 'DellReplicaLight';
      display: block; }
  main .youtube-box .content {
    height: 65vh; }
    main .youtube-box .content .text-container {
      color: #fff; }
      main .youtube-box .content .text-container h3 {
        text-transform: uppercase;
        font-size: 30px;
        font-family: 'DellReplicaLight'; }
      main .youtube-box .content .text-container strong {
        text-transform: uppercase;
        font-size: 30px; }
      main .youtube-box .content .text-container p {
        margin-top: 20px;
        font-family: 'DellReplicaLight'; }
    main .youtube-box .content .img-container {
      background: url("../images/videoplayer.png");
      height: 520px;
      background-repeat: no-repeat;
      cursor: pointer;
      background-position: center;
      background-size: cover; }
  main .youtube-box .forma {
    text-align: center; }
    main .youtube-box .forma .text-container {
      font-family: 'DellReplicaLight';
      text-transform: uppercase; }
      main .youtube-box .forma .text-container h2 {
        font-size: 36px;
        color: #fff; }
    main .youtube-box .forma .img-background {
      background: url("../images/people-bg.png");
      height: 520px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
    main .youtube-box .forma .bottom-text-container {
      margin-top: -20px;
      color: #fff;
      font-family: 'DellReplicaLight'; }
      main .youtube-box .forma .bottom-text-container strong {
        text-transform: uppercase; }
      main .youtube-box .forma .bottom-text-container h4 {
        color: #ffb520;
        text-transform: uppercase;
        font-size: 26px;
        font-family: 'DellReplicaBold';
        margin-top: 30px; }
  main .youtube-box .mapka-points .text-container {
    text-align: center;
    color: #fff;
    margin-top: 40px;
    text-transform: uppercase; }
    main .youtube-box .mapka-points .text-container h2 {
      font-family: 'DellReplicaLight';
      font-size: 42px; }
    main .youtube-box .mapka-points .text-container strong {
      font-size: 40px; }
  main .youtube-box .mapka-points .bg-map {
    background: url("../images/world-map-bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    height: 400px;
    margin-top: -25px; }
    main .youtube-box .mapka-points .bg-map .text-container-list {
      text-align: left;
      text-transform: uppercase;
      margin-top: 80px; }
      main .youtube-box .mapka-points .bg-map .text-container-list p {
        font-family: 'DellReplicaLight';
        color: #fff; }
      main .youtube-box .mapka-points .bg-map .text-container-list strong {
        text-decoration: underline; }
  main .youtube-box .footer {
    background: url("../images/footer.png");
    background-repeat: no-repeat;
    background-position: bottom; }
    main .youtube-box .footer .text-container {
      color: #0162af;
      text-align: left;
      margin-top: 100px;
      font-size: 20px;
      margin-bottom: 20px; }
      main .youtube-box .footer .text-container p {
        font-family: 'DellReplicaLight';
        text-transform: uppercase; }
    main .youtube-box .footer .text {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #0162af;
      text-transform: uppercase;
      font-size: 120px;
      line-height: 1;
      text-align: right; }
    main .youtube-box .footer .img-background {
      background: url("../images/making_OF_a.jpg");
      background-repeat: no-repeat;
      background-position: center;
      height: 300px;
      background-size: cover;
      position: relative;
      cursor: pointer; }
      main .youtube-box .footer .img-background:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #01549d87; }
main .forma {
  background: url("../images/forma-people-bg.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: #0162af;
  text-align: center;
  background-size: contain; }
  main .forma .text-container {
    font-family: 'DellReplicaLight';
    text-transform: uppercase; }
    main .forma .text-container h2 {
      font-size: 36px;
      color: #fff; }
  main .forma .img-background {
    background: url("../images/people-bg.png");
    height: 520px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  main .forma .bottom-text-container {
    margin-top: -20px;
    color: #fff;
    font-family: 'DellReplicaLight'; }
    main .forma .bottom-text-container strong {
      text-transform: uppercase; }
    main .forma .bottom-text-container h4 {
      color: #ffb520;
      text-transform: uppercase;
      font-size: 26px;
      font-family: 'DellReplicaBold';
      margin-top: 30px; }
main .bottom-section {
  background-color: #214e92; }
main .mapka-points {
  /*background: url('../images/footer-bg.png');*/
  background-repeat: repeat-x;
  background-position: top;
  background-color: #0162af;
  height: 45vh; }
  main .mapka-points .text-container {
    position: relative;
    top: 20px;
    text-align: center;
    color: #fff;
    margin-top: 40px;
    text-transform: uppercase; }
    main .mapka-points .text-container h2 {
      font-family: 'DellReplicaLight';
      font-size: 42px; }
    main .mapka-points .text-container strong {
      font-size: 40px; }
  main .mapka-points .bg-map {
    background: url("../images/world-map-bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    height: 400px;
    margin-top: -25px; }
    main .mapka-points .bg-map .text-container-list {
      text-align: left;
      text-transform: uppercase;
      margin-top: 80px; }
      main .mapka-points .bg-map .text-container-list p {
        font-family: 'DellReplicaLight';
        color: #fff; }
      main .mapka-points .bg-map .text-container-list strong {
        text-decoration: underline; }
main .footer {
  background: url("../images/footer.png");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 560px;
  background-color: #0162af; }
  main .footer .text-container {
    color: #0162af;
    text-align: left;
    margin-top: 100px;
    font-size: 20px;
    margin-bottom: 20px; }
    main .footer .text-container p {
      font-family: 'DellReplicaLight';
      text-transform: uppercase; }
  main .footer .text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0162af;
    text-transform: uppercase;
    font-size: 120px;
    line-height: 1;
    text-align: right; }
  main .footer .img-background {
    background: url(../images/making_OF_a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    background-size: cover;
    position: relative;
    cursor: pointer; }
    main .footer .img-background:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #01549d87;
      left: 0; }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  main .header-section .line-mountain {
    background-position: 40% 0; }
  main .header-section .title h1 {
    font-size: 32px; }
  main .header-section .text-under-phone {
    font-size: 24px; }
  main .header-section .city-bg .round-container .description {
    width: 35%; }
  main .header-section .mapa-eu .simple-box {
    padding: 10px; }
  main .header-section .yellow-mountain {
    background-position: 50% 0;
    top: -60px;
    margin-bottom: -60px; }
  main .bottom-section .footer .text {
    font-size: 70px; } }
@media only screen and (min-width: 768px) and (max-width: 992px) {
  main .header-section .line-mountain {
    background-position: 80% 0; }
  main .header-section .top-left-bg {
    display: none; }
  main .header-section .title h1 {
    font-size: 42px;
    margin-top: 60px;
    margin-top: 100px; }
  main .header-section .text-under-phone {
    font-size: 24px; }
  main .header-section .city-bg {
    background-size: auto;
    background-position: 70% 0; }
    main .header-section .city-bg .round-container {
      margin-top: 300px; }
      main .header-section .city-bg .round-container .description {
        width: 35%; }
  main .header-section .mapa-eu .simple-box {
    padding: 10px; }
  main .header-section .mapa-eu h2 {
    font-size: 40px;
    margin-top: 50px; }
  main .header-section .yellow-mountain {
    background-position: 50% 0;
    top: -60px;
    margin-bottom: -60px;
    background-color: #206cb1; }
  main .bariery-out .text-container {
    text-align: center; }
  main .bariery-out .bg .bg-studio {
    /*                    .pinka-center {
                            background-image:  url('../images/mobile-2.png');
                            width: 100%;
                            
                        }
    */ }
    main .bariery-out .bg .bg-studio .pinka-left {
      background-image: url("../images/left-pineczka-midle.png"); }
    main .bariery-out .bg .bg-studio .pinka-right {
      background-image: url("../images/right-pineczka-midle.png"); }
  main .efektywnosc {
    background-attachment: scroll; }
    main .efektywnosc .text-container {
      padding-top: 100%; }
  main .footer .text {
    font-size: 70px; } }
@media only screen and (max-width: 768px) {
  .hidden-sm-down {
    display: none; }

  .hidden-md-up {
    display: block; }

  main .header-section .phone-bg {
    background-image: url("../images/phone-bg-mobile.png");
    background-size: auto;
    background-position: center;
    height: auto; }
    main .header-section .phone-bg .short_description {
      padding-right: 14px; }
      main .header-section .phone-bg .short_description h2, main .header-section .phone-bg .short_description h3 {
        font-size: 18px; }
      main .header-section .phone-bg .short_description p {
        font-size: 16px; }
      main .header-section .phone-bg .short_description:nth-child(2) p {
        padding: 0; }
  main .header-section .line-mountain {
    display: none; }
  main .header-section .top-left-bg {
    display: none; }
  main .header-section .title {
    margin-bottom: 0; }
    main .header-section .title h1 {
      font-size: 26px;
      margin-left: 20px;
      margin-top: 50px;
      padding-bottom: 10px; }
  main .header-section .text-under-phone {
    font-size: 24px; }
  main .header-section .city-bg {
    background-image: url("../images/blue-city-bg-mobile.png");
    background-size: contain !important;
    background-position: center 90px; }
    main .header-section .city-bg .round-container {
      position: relative;
      margin-top: 300px; }
      main .header-section .city-bg .round-container .left-text {
        top: -25px;
        left: 25px;
        text-align: left; }
        main .header-section .city-bg .round-container .left-text p {
          padding: 0; }
      main .header-section .city-bg .round-container .right-text {
        bottom: -60px;
        text-align: right; }
        main .header-section .city-bg .round-container .right-text p {
          padding: 0; }
      main .header-section .city-bg .round-container .description {
        position: absolute;
        width: 90%; }
        main .header-section .city-bg .round-container .description strong {
          font-size: 30px; }
    main .header-section .city-bg .title {
      padding: 0 10%;
      margin-top: 60px; }
  main .header-section .mapa-eu {
    background-size: cover; }
    main .header-section .mapa-eu h2 {
      font-size: 50px;
      text-align: center;
      margin: 50px 0; }
    main .header-section .mapa-eu .rounded-field h3 {
      font-size: 26px; }
    main .header-section .mapa-eu .alert-box {
      font-size: 16px;
      margin-bottom: 20px; }
    main .header-section .mapa-eu .simple-box {
      padding: 20px 10px; }
      main .header-section .mapa-eu .simple-box p {
        font-size: 26px; }
      main .header-section .mapa-eu .simple-box strong {
        display: block; }
  main .header-section .virtual-studio {
    background-color: #206cb1; }
    main .header-section .virtual-studio .owl-carousel .owl-item .img-container {
      height: 250px; }
    main .header-section .virtual-studio .owl-carousel .owl-item.center {
      transform: scale(1, 1); }
    main .header-section .virtual-studio .owl-nav {
      top: 20%; }
      main .header-section .virtual-studio .owl-nav .owl-next, main .header-section .virtual-studio .owl-nav .owl-prev {
        width: 80px; }
  main .header-section .yellow-mountain {
    background-position: 50% 0;
    top: initial;
    margin-bottom: -60px;
    background-color: #206cb1; }
    main .header-section .yellow-mountain .text-container p, main .header-section .yellow-mountain .text-container strong {
      font-size: 20px;
      margin-bottom: 10px; }
  main .bariery-out {
    height: auto; }
    main .bariery-out .container {
      height: 440px; }
    main .bariery-out .text-container {
      text-align: center; }
    main .bariery-out .bg {
      background-image: none;
      padding-top: 40px;
      height: auto; }
      main .bariery-out .bg .container {
        padding: 0;
        overflow: hidden; }
      main .bariery-out .bg .mobile-container {
        margin: 5px 0;
        line-height: 1; }
        main .bariery-out .bg .mobile-container .title-container {
          margin: 0;
          font-size: 14px; }
        main .bariery-out .bg .mobile-container:first-child {
          padding-left: 30px; }
        main .bariery-out .bg .mobile-container:nth-child(2) {
          padding-left: 40px; }
        main .bariery-out .bg .mobile-container:nth-child(3) {
          padding-left: 65px; }
      main .bariery-out .bg .bg-studio {
        background-size: cover;
        height: 300px !important;
        position: relative;
        background-position: center; }
        main .bariery-out .bg .bg-studio .pinka {
          position: absolute;
          left: 8px;
          bottom: 64px; }
        main .bariery-out .bg .bg-studio .pinka-left {
          background-image: url("../images/mobile-1.png");
          background-position: initial; }
        main .bariery-out .bg .bg-studio .pinka-center {
          background-image: url("../images/mobile-2.png");
          background-position: initial;
          left: 20px;
          bottom: 45px;
          width: 100%; }
        main .bariery-out .bg .bg-studio .pinka-right {
          background-image: url("../images/mobile-3.png");
          background-position: center;
          bottom: 75px; }
  main .nagrania {
    background: url("../images/nagranie-bg-mobile.png");
    background-position: bottom;
    background-repeat: repeat-x; }
    main .nagrania .bg {
      background: url("../images/man-arrow-mobile.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 100vh; }
    main .nagrania .header-container {
      font-size: 32px;
      margin-top: 15px; }
    main .nagrania .mobile-position {
      flex-direction: column-reverse;
      position: absolute;
      bottom: 10%;
      text-align: center; }
    main .nagrania .img-container {
      display: none; }
  main .efektywnosc {
    background: url("../images/efektywnosc-bg-mobile.png");
    background-position: bottom;
    background-repeat: repeat-x; }
    main .efektywnosc .bg {
      background: url("../images/man-is-studio-mobile.png");
      background-position: center 80%;
      background-repeat: no-repeat;
      height: auto;
      background-size: contain; }
    main .efektywnosc .header-container {
      color: #fff;
      margin: 0; }
    main .efektywnosc .text-container {
      padding-top: 0;
      text-align: center; }
    main .efektywnosc .bottom-container {
      margin-top: 26em; }
  main .bg-nazywo .studio-live {
    background: url("../images/people-studio-mobile.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat; }
    main .bg-nazywo .studio-live .description-container {
      margin-top: 20px; }
    main .bg-nazywo .studio-live .middle-description {
      margin: 0;
      bottom: 0; }
      main .bg-nazywo .studio-live .middle-description p {
        font-size: 16px;
        margin: 0; }
  main .youtube-box .bottom-header {
    background: url("../images/people-studio-mobile2.png");
    color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40vh; }
    main .youtube-box .bottom-header h2 {
      padding-top: 30%; }
  main .youtube-box .text-container h3 {
    font-size: 24px; }
  main .youtube-box .text-container strong {
    font-size: 22px; }
  main .youtube-box .content .img-container {
    background-image: url("../images/play-mobile.png");
    background-size: contain;
    background-position: center;
    height: 30vh;
    z-index: 10;
    position: relative; }
  main .forma {
    overflow: hidden; }
    main .forma .img-background {
      background-image: url("../images/people-bg-mobile.png");
      background-size: cover;
      height: 420px; }
    main .forma .text-container {
      position: absolute;
      top: 50px;
      width: 100%; }
      main .forma .text-container h2 {
        text-align: center;
        font-size: 36px; }
        main .forma .text-container h2 strong {
          display: block; }
    main .forma .bottom-text-container {
      padding: 0 40px; }
  main .mapka-points {
    overflow: hidden;
    height: auto; }
    main .mapka-points .bg-map {
      background-size: cover;
      background-position: 50% top;
      position: relative; }
      main .mapka-points .bg-map .row-mobile {
        position: absolute;
        bottom: 0px; }
      main .mapka-points .bg-map .text-container-list {
        text-align: center;
        font-size: 14px; }
  main .footer {
    margin: 0;
    background-position: 50% 0;
    overflow: hidden;
    height: 710px; }
    main .footer .container {
      padding: 0; }
    main .footer .text {
      font-size: 70px !important;
      text-align: left;
      padding: 0 40px; }
    main .footer .text-container {
      padding: 0 40px;
      text-align: center; }
    main .footer .img-background {
      background-size: cover !important; }
      main .footer .img-background:before {
        background-color: inherit; } }
@media only screen and (min-width: 360px) and (max-width: 767px) {
  main .bariery-out .bg .mobile-container:first-child {
    padding-left: 23%; }
  main .bariery-out .bg .mobile-container:nth-child(2) {
    padding-left: 25%; }
  main .bariery-out .bg .mobile-container:nth-child(3) {
    padding-left: 28%; }
  main .bariery-out .bg .bg-studio .pinka-center {
    left: 20%; }
  main .bariery-out .bg .bg-studio .pinka-left {
    left: 16%; } }
@media only screen and (min-width: 768px) and (max-width: 768px) {
  main .bariery-out .bg .mobile-container {
    max-width: 100%; }
    main .bariery-out .bg .mobile-container:first-child {
      padding-left: 10%; }
    main .bariery-out .bg .mobile-container:nth-child(2) {
      padding-left: 34%;
      flex-basis: auto; }
    main .bariery-out .bg .mobile-container:nth-child(3) {
      flex-basis: auto;
      padding-left: 36%; }
  main .bariery-out .bg .bg-studio .pinka-center {
    left: 33%; }
  main .bariery-out .bg .bg-studio .pinka-left {
    left: 25%; }
  main .bottom-section .studio-live .bottom-header {
    color: #00274F; } }
@media only screen and (min-height: 700px) and (max-height: 900px) {
  main .header-section .mt-40 {
    margin-top: 0px; }
  main .header-section .phone-bg {
    height: 450px; }
  main .header-section .title {
    margin-bottom: 0; }
    main .header-section .title h1 {
      padding-bottom: 10px; }
  main .header-section .city-bg {
    background-size: auto; }
    main .header-section .city-bg .round-container {
      margin-top: 45vh; }
  main .header-section .mapa-eu {
    padding-top: 50px; }
    main .header-section .mapa-eu .rounded-field {
      margin: 0px 0 30px; }
      main .header-section .mapa-eu .rounded-field h3 {
        margin: 10px 30px;
        font-size: 28px; }
      main .header-section .mapa-eu .rounded-field p {
        margin: 0 30px 15px; }
    main .header-section .mapa-eu .alert {
      font-size: 28px;
      padding: 0; }
  main .header-section .yellow-mountain {
    background-size: cover; }
  main .bariery-out h2 {
    margin-top: 10vh; }
  main .bariery-out .title-container {
    margin-top: 0; }
  main .bariery-out .bg .bg-studio {
    height: 465px;
    background-size: contain; }
  main .nagrania .img-container {
    height: 360px;
    background-size: contain; }
  main .forma .img-background {
    height: 400px; }
  main .youtube-box .content .img-container {
    height: 350px;
    background-size: cover; }
  main .footer .text {
    font-size: 100px; }
  main .footer .img-background {
    height: 200px;
    background-size: contain;
    background-position: left; }
    main .footer .img-background:before {
      width: 80%; } }
@media (min-height: 500px) and (max-height: 700px) and (min-width: 1200px) {
  main .header-section .title h1 {
    font-size: 30px;
    margin-bottom: 5px;
    padding-bottom: 5px; }

  main .header-section .title span {
    font-size: 30px; }

  main .header-section .title {
    margin-bottom: 0; }

  main .header-section .phone-bg {
    height: 360px;
    background-size: cover; }

  main .header-section .mapa-eu .rounded-field {
    margin: 10px 0 0; }

  main .header-section .mapa-eu h2 {
    line-height: 2; }

  main .header-section .mapa-eu .rounded-field h3 {
    margin: 0 30px; }

  main .header-section .mapa-eu .rounded-field p {
    font-size: 16px;
    margin: 0 30px 0px; }

  main .bariery-out .bg .bg-studio {
    height: 350px;
    background-size: contain; }

  main .nagrania .bg {
    background-size: cover;
    height: 100vh;
    background-position: left; }

  main .nagrania {
    background-size: contain; }
    main .nagrania .img-container {
      height: 352px;
      width: 200px;
      background-position: center;
      margin: 0px 0 94px; }

  main .nagrania .text-container {
    padding-top: 0; }

  main .youtube-box .content .img-container {
    height: 300px; }

  main .mapka-points {
    height: 39vh; }

  main .footer .img-background {
    height: 200px; }

  main .footer .text {
    font-size: 70px; }

  main .header-section .text-under-phone {
    font-size: 20px; }

  main .header-section .line-mountain {
    height: 150px;
    background-size: contain; }

  .mt-40 {
    margin: 0; }

  main .efektywnosc .bg {
    height: 100vh; }
  main .efektywnosc .bottom-container {
    margin-top: 15px; }

  main .forma .bottom-text-container {
    margin-top: -230px; }

  main .forma .text-container h2 {
    padding-top: 60px; }

  main .header-section .city-bg .round-container .round {
    height: 200px;
    width: 200px; }

  main .header-section .city-bg {
    background-size: cover; }

  main .bariery-out h2 {
    margin-bottom: 0; }

  main .bariery-out .title-container {
    margin-top: 0; }

  main .bariery-out .bg .bg-studio .pinka {
    height: 200px; }

  main .mapka-points .bg-map {
    height: 320px; }

  main .mapka-points .text-container-list {
    font-size: 13px; }
  main .mapka-points .text-container strong {
    font-size: 20px; }
  main .mapka-points .text-container h2 {
    font-size: 20px; }

  main .footer .text-container {
    font-size: 16px; } }

/*# sourceMappingURL=main.css.map */
