@import "./mixins";
.container-fluid-nav {
    float: left;
    overflow: hidden;
    width: 100%;
}




header {
    position: fixed;
    background: url(../images/nav/nav.png) 0 0 repeat-x;
    width: 100%;
    height: 48px;
    z-index: 10000000;
    .logo {
        display: block;
        float: left;
    }
    .container-nav {
        max-width: 1140px;
        margin: 0 auto;
        img {
            margin-top: 12px;
            float: left;
        }
        nav {
            left: 0;
            top: 0;
            float: left;
            margin-left: 44px;
            width: calc(100% - 189px);
            ul {
                margin: 0;
                padding: 0;
                float: left;
                &:after {
                }
                &.social {
                    float: right;
                    background: url(../images/nav/nav_bg.png) 0 50% no-repeat;
                    padding-left: 7px;
                    li {
                        background: none;
                        &:last-child {
                            background: none;
                            &:after {
                                background: none;
                            }
                        }
                        a {
                            &:before {
                                display: none;
                            }
                        }
                        a.facebook {
                            background: url(../images/nav/facebook.png) 0 50% no-repeat;
                            text-indent: -9999px;
                            width: 35px;
                        }
                        a.linkedin {
                            background: url(../images/nav/linkendin.png) 0 50% no-repeat;
                            text-indent: -9999px;
                            width: 35px;
                            margin-right: 10px;
                        }
                    }
                }
            }
            li {
                display: inline-block;
                list-style: none;
                background: url(../images/nav/nav_bg.png) 0 50% no-repeat;
                line-height: 48px;
                padding-left: 4px;
                height: 48px;
                float: left;
                position: relative;
                &:last-child {
                    &:after {
                        content: '';
                        background: url(../images/nav/nav_bg.png) 100% 50% no-repeat;
                        height: 48px;
                        width: 4px;
                        position: absolute;
                        right: -4px;
                        top: 0;
                    }
                }
            }
            a {
                color: #fff;
                font-size: 13px;
                text-transform: uppercase;
                font-family: 'DellReplicaMenu';
                position: relative;
                text-decoration: none;
                line-height: 48px;
                display: inline-block;
                transition: all 0.3s;
                position: relative;
                span {
                    display: block;
                    padding: 0 20px;
                    width: 100%;
                    position: relative;
                    overflow: hidden;
                    height: 52px;
                    &:after {
                        content: '';
                        width: 0;
                        transition: all 0.3s;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        height: 52px;
                        z-index: -1;
                        background: url(../images/nav/nav_a.png) 0 0 repeat-x;
                    }
                }
                &:before {
                    content: '';
                    width: 0;
                    transition: all 1s;
                    position: absolute;
                    left: 0;
                    top: 100%;
                }
                &:hover {
                    color: #000;
                    &:before {
                        width: 100%;
                        background: #ff000c;
                        height: 2px;
                    }
                    span {
                        &:after {
                            width: 100%;
                            top: 0;
                        }
                        &:before {
                            width: 4px;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 1100px) {
        .logo {
            margin-left: 10px;
        }
        .container-nav {
            display: inline-block;
            cursor: pointer;
        }
        .container-nav nav a span:after {
            background: none;
        }
        .bar1,
        .bar2,
        .bar3 {
            width: 35px;
            height: 5px;
            background-color: #333;
            margin: 6px 0;
            transition: 0.4s;
        }

        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }

        .change .bar2 {
            opacity: 0;
        }

        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
        .social {
            position: absolute;
            top: 0;
            right: 20%;
            background: initial !important;
        }
        .nav {
            li {
                border-bottom: 1px solid #fff;
                line-height: 92px !important;
                height: 92px !important;
                a {
                    font-size: 21px;
                    line-height: 92px;
                    span {
                        height: 92px !important;
                    }
                }
            }
        }

        .container-nav {
            width: 100%;
            nav {
                width: auto !important;
                float: right !important;
                ul {
                    float: right;
                    &:before {
                    }
                    li {
                        display: none;
                    }
                    &.social {
                        float: left;
                        display: block;
                        background: none !important;
                        li {
                            display: inline-block;
                        }
                        .linkedin,
                        .facebook {
                            width: 28px !important;
                            background-size: 100% auto !important;
                        }
                    }
                }
            }
        }


    }
}

#menu-mobile {
    display: none;
    position: absolute;
    right: 0;
    top:0;
    cursor: pointer;
    float: right;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 10px;
    .bar1,
    .bar2,
    .bar3 {
        width: 33px;
        height: 2px;
        background-color: #6d6d6d;
        margin: 6px 0;
        transition: 0.4s;
    }
    &.change {
        .bar1 {
            -webkit-transform: rotate(-45deg) translate(-6px, 6px);
            transform: rotate(-45deg) translate(-6px, 6px);
        }
        .bar2 {
            opacity: 0;
        }
        .bar3 {
            -webkit-transform: rotate(45deg) translate(-6px, -6px);
            transform: rotate(45deg) translate(-6px, -6px);
        }
    }
    @media only screen and (max-width: 1100px) {
        display: inline-block;
    }
}
nav.open {
    .nav {
        width: 100%;
        height: 100vh;
        position: fixed;
        padding: 0 20px;
        padding-top: 18%;
        left: 0;
        top: 44px;
        background: rgb(150, 0, 18);
        background: linear-gradient(0deg, rgba(150, 0, 18, 0.9) 0%, rgba(255, 0, 0, 0.9) 100%);
        li {
            display: block;
            width: 100%;
            text-align: center;
            background: none;
            padding: 0;
            &:after {
                display: none;
            }
            a {
                width: 100%;
            }
        }
    }
}

