@import "./mixins";
main {
    .header-section {
        background: url('../images/mainbg.png');
        background-repeat: repeat-x;
        color:$white;
        overflow: hidden;
        position: relative;
        .title {
            margin-bottom:70px;
            h1 {
                position: relative;
                text-align: right;
                line-height: 0.9;
                text-transform: uppercase;
                font-size: $font-size42;
                font-family: 'DellReplicaLight';
                margin-top:50px;
                margin-left:50px;
                padding-bottom: 35px;
                strong {
                    display: block;
                    font-size: 64px;
                }
                &:after{
                    content: '';
                    border-bottom: 2px solid $white;
                    width: 9999px;
                    position: absolute;
                    bottom: 0;
                    left: 0;

                }

            }

        }
        .phone-bg {
            background: url('../images/phone-city-bg.png');
            background-repeat: no-repeat;
            height: 510px;
            background-size: auto;
            .short_description {
                margin-bottom: 26px;
                h2,h3 {
                    font-family: 'DellReplicaBold';
                }
                p {
                    font-family: 'DellReplicaLight';
                }

                &:nth-child(2) {
                    p {
                        padding-right: 20%;
                    }
                }
            }
        }

        .line-mountain {
            width: 100%;
            height: 206px;
            z-index: 1;
            background: url('../images/mountain-top.png');
            background-repeat: no-repeat;
            background-repeat: no-repeat;
            position: absolute;
            background-size: auto;
            right: 0;
            bottom: 20px;
            background-position: 50% 0;
        }

        .text-under-phone { 
            text-transform: uppercase;
            font-size: $font-size30;
            .title {
                text-align: center;
                p {
                    font-family: 'DellReplicaLight';

                }

            }
        }
        .top-left-bg {
            width: 50%;
            background: url('../images/left-top-bg.png');
            clip-path: polygon(0 0px, 100% 0px, 100% 0, 0px 100%);
            background-repeat: repeat;
            height: 1530px;
            position: absolute;
            top:0;
            left: 0;

            .border-yellow {
                background-color: $yellow;
                width: 100%;
                height:  100%;

                clip-path: polygon(98% 0, 100% 0, 100% 100%, 0 100%, 0 98%);

            }

            .covidki {
                background: url('../images/covidkki.png');
                position: absolute;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: contain;
                width: 75%;
                background-position: 0 10px;
            }

        }

        .city-bg {
            background: url('../images/city-cut.png');
            background-repeat: no-repeat;
            background-size: contain;

            .title-header {
                text-align: center;
                font-size:$font-size30;
                text-transform: uppercase;
                position: absolute;
                top: 60px;
                p {
                    font-family: 'DellReplicaLight';
                }
            }
            .round-container {
                margin-top: 16vw;
                display: flex;
                justify-content: center;
                align-items: center;
                .round {
                    text-align: center;
                    background-color: $round-color;
                    color:$round-text-color;
                    height: 260px;
                    width:  260px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size:$font-size120;
                }
                .description {
                    text-transform: uppercase;
                    position: relative;
                    width: 25%;
                    strong {
                        font-size: $font-size32;
                        line-height: 1;
                    }
                    p {
                        font-family: 'DellReplicaLight';
                        font-size: $font-size18;
                    }
                }
                .left-text {
                    text-align: right;
                    right: 5px;
                    p {
                        padding-left: 38%;
                    }
                }
                .right-text{
                    text-align: left;
                    left: 5px;
                    p {
                        padding-right: 38%;
                    }
                }
            }
            .title {
                text-align: center;
                text-transform: uppercase;
                padding: 0 34%;
                strong {
                    font-size: $font-size32;
                }
                p {
                    font-family: 'DellReplicaLight';
                    font-size: $font-size18;
                }
            }
        }

        .mapa-eu {
            background: url('../images/eu-map-bg.png');
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
            padding-top: 20px;
            h2 {
                font-size: 60px;
                text-transform: uppercase;
                position: relative;
                padding-bottom: 35px;
                margin-left: 60px;
                &:after{
                    content: '';
                    border-bottom: 2px solid $white;
                    width: 9999px;
                    position: absolute;
                    bottom: 0;
                    left: 0;

                }
            }

            .rounded-field {
                margin: 10px 0;
                border: 1px solid $white;
                border-radius: 40px;
                background: url('../images/bg-big-label-transparent.png');
                background-repeat: no-repeat;
                background-size: 102% 100%;
                background-position: -2px 0px;

                h3 {
                    text-transform: uppercase;
                    font-size: $font-size32;
                    margin: 30px;
                }
                p {
                    font-size: $font-size18;
                    margin: 0 30px 20px;
                }
            }
            .alert {
                color:$yellow;
                text-transform: uppercase;
                font-size: $font-size42;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            .alert-box {
                color: $black;
                background-color: $yellow;
                border:1px solid $white;
                border-radius: 50px;
                padding: 15px 10px;
                font-size:$font-size18;
                text-align: center;
                strong {
                    font-size:$font-size30;
                }
            }
            p {
                font-family: 'DellReplicaLight';
            }
            .simple-box {
                background: url('../images/bg-button-transparent.png');
                background-repeat: no-repeat;
                background-size: 101% 100%;
                background-position: -2px 0px;
                border:1px solid $white;
                border-radius: 50px;
                padding: 24px 10px;
                text-align: center;
                p {
                    font-size:$font-size36;
                    text-transform: uppercase;

                }
            }
        }
        .virtual-studio {
            background-color: #4363a1;
            h2 {
                font-size:$font-size42;
                font-family: 'DellReplicaLight';
                text-transform: uppercase;
            }
            .owl-carousel {
                margin-top: 100px;
                position: relative;
                z-index: 999;


                .owl-stage-outer {
                    overflow:  inherit;
                }
                .owl-item {

                    .img-container {
                        height: 35vh;
                        background-size: cover;
                        background-repeat: no-repeat;
                        &:before {
                            content: '';
                            position: absolute;
                            background-color: #6c628b8c;
                            height: 100%;
                            width: 100%;
                        }
                    }
                    &.center{
                        position: relative;
                        z-index: 999;
                        transform: scale(1.1, 1.2);
                        .img-container {
                        }
                        .img-container:before {
                            content: '';
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            background-color: transparent;
                        }    
                    }
                }
            }
            .owl-nav {
                display: flex;
                justify-content: space-around;
                position: absolute;
                width: 100%;
                top:33%;
                .owl-prev {
                    background: url('../images/left-arrow.png');
                    background-repeat: no-repeat;
                    width: 130px;
                    height: 120px;
                    background-size: contain;

                    span{
                        display: none;
                    }
                }
                .owl-next {
                    background: url('../images/right-arrow.png');
                    background-repeat: no-repeat;
                    width: 130px;
                    height: 120px;
                    background-size: contain;

                    span{
                        display: none;
                    }
                }
            }
        }
        .yellow-mountain {
            background: url('../images/mountain-yellow-bg.png');
            background-color: #214d8e;
            background-repeat: no-repeat;
            height: 340px;
            position: relative;
            z-index: 9;
            margin-bottom: -10px; 
            height: 38vh;
            background-position: bottom;
            .text-container {
                text-align: center;
                margin-top: 60px;
                p {
                    font-size: $font-size24;
                    font-family: 'DellReplicaLight';
                    line-height: 1.1;
                    margin-bottom: 40px;
                }
                strong {
                    text-transform: uppercase;
                    font-size: $font-size26;
                }
            }
        }
    }
    .bariery-out {
        background-color: $yellow;
        color:$granat;
        h2 {
            width: 100%;
            margin-top: 14vh;
            margin-bottom:  40px;
            text-align: center;
            font-size: $font-size40;
            text-transform: uppercase;

        }
        .text-container {
            font-family: 'DellReplicaLight';
            font-size: $font-size18;
            padding-right: 10px;
            h4 {
                font-family: 'DellReplicaBold';
                margin-top: 20px;
                font-size: $font-size30;
                text-transform: uppercase;
            }
        }
        .title-container {
            color:$white;
            text-transform: uppercase;
            font-size: $font-size20;
            margin-top: 20px;
        }
        .container {
            height: 40vh;

        }
        .bg {
            background: url('../images/wieza-gradient-bg.png');
            background-position: bottom;
            background-repeat: no-repeat;
            height: 60vh;
            .bg-studio {
                background: url('../images/studio-img.png');
                height: 540px;
                background-repeat: no-repeat;
                background-position: center;
                display: flex;
                .pinka {
                    background-repeat: no-repeat;
                    height: 300px;
                    width: 100%;

                }
                .pinka-left {
                    background-image: url('../images/left-pineczka.png');
                    background-position: right;
                }
                .pinka-center {
                    background-image: url('../images/center-pineczka.png');
                    background-position: center;
                    width: 400px;
                }
                .pinka-right {
                    background-image: url('../images/right-pineczka.png');
                    background-position: left;
                }
            }
        }
    }

    .nagrania {
        background: url('../images/nagranie-bg.png');
        background-repeat: repeat-x;
        width: 100%;
        background-color: #cbdcea;
        .bg {
            background: url('../images/studio-mountain.png');
            background-position: top;
            background-repeat: no-repeat;
            height: 90vh;
        }

        .header-container {
            width: 100%;
            text-align: center;
            font-size: $font-size40;
            font-family: 'DellReplicaLight';
            text-transform: uppercase;
            color:$granat;
            margin-top: 50px;
        }
        .text-container {
            padding-top: 200px;
            strong {
                color:$yellow;
                font-size: $font-size26;
            }
            p {
                color:$white;
            }
            p:first-child {
                font-size: $font-size14;
            }
            p:nth-child(2) {
                margin-top: 20px;
                font-family: 'DellReplicaLight';
                font-size: $font-size20;
                line-height: 1;
            }
        }
        .img-container {
            background: url('../images/man-img.png');
            background-position: left;
            background-repeat: no-repeat;
            height: 420px;
            width: 230px;
            margin: 110px 0 90px;

        }
    }



    .efektywnosc {
        display: flex;
        background: url('../images/efektywnosc-bg.png');
        background-repeat: repeat-x;
        background-color: #04123a;
        .bg {

            background: url('../images/efektywnosc.png');
            background-position: top;
            background-repeat: no-repeat;
            height: 90vh;
        }

        .header-container {
            width: 100%;
            text-align: center;
            font-size: $font-size40;
            font-family: 'DellReplicaLight';
            text-transform: uppercase;
            color:$granat;
            margin-top: 50px;
        }
        .text-container {
            padding-top: 80%;
            p {
                color:$white;
            }


        }
        .bottom-container {
            text-align: center;
            color:$white;
            font-size: $font-size20;
            margin-top: 100px;
            font-family: 'DellReplicaLight';

            strong {
                font-size: $font-size26;
                text-transform: uppercase;
            }
        }
    }
    .bg-nazywo {
        background: url('../images/nazywo-bg.png');
        background-repeat: repeat-x;
        height: 100vh;
        background-color: #ebf2f7;
        .section-title {
            height: 15vh;
            text-align: center;
            color:$white;
            text-transform: uppercase;
            h2 {
                font-size: $font-size42;
                margin-top: 70px;
                span {
                    display: block;
                }
                strong {
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        width: 30px;
                        height: 30px;

                        background: url('../images/green-light.png');
                        background-position: center;
                        background-size: contain;
                        right: -20px;
                        top:-10px;
                    }
                }
            }
        }

        .studio-live {
            background: url('../images/nazywo.png');
            background-position: 0 center;
            height: 85vh;
            position: relative;
            z-index: 9;
            background-repeat: no-repeat;
            align-items: center;
            background-size:cover;
            .description-container {
                width: 100%;
                text-align: center;
                color:$white;
                font-size: $font-size22; 
                position: absolute;
                top: 100px;
                p {
                    line-height: 1;
                    font-family: 'DellReplicaLight';
                }
                strong {
                    text-transform: uppercase;
                }
            }
            .middle-description {
                color:$black;
                text-align: center;
                width: 100%;
                position: absolute;
                bottom: 40px;
                p {
                    margin-top: 30px;
                    font-size: $font-size26;
                    font-family: 'DellReplicaLight';
                    strong {
                        text-transform: uppercase;
                    }

                }
            }

        }
    }
    .youtube-box {
        background: url('../images/forma-bg.png');
        background-repeat: repeat-x;
        background-color: $blue;
        background-position: bottom;
        text-align: center;
        height: 100vh;

        .bottom-header {
            background: url('../images/nazywo2.png');
            background-position: 0 top;
            width: 100%;
            height: 35vh;
            background-size: cover;
            color: $blue;
            line-height: 1;
            h2 {
                font-size: $font-size32;
                text-transform: uppercase;
                padding-top: 60px;

            }
            span {
                font-family: 'DellReplicaLight';
                display: block;
            }
        }
        .content {
            height: 65vh;

            .text-container {
                color:$white;
                h3 {
                    text-transform: uppercase;
                    font-size:$font-size30;
                    font-family: 'DellReplicaLight';
                }
                strong {
                    text-transform: uppercase;
                    font-size:$font-size30;
                }
                p {
                    margin-top: 20px;
                    font-family: 'DellReplicaLight';
                }
            }
            .img-container {
                background: url('../images/videoplayer.png');
                height: 520px;
                background-repeat: no-repeat;
                cursor: pointer;
                background-position: center;
                background-size: cover;
            }
        }
        .forma {
            text-align: center;
            .text-container {
                font-family: 'DellReplicaLight';
                text-transform: uppercase;
                h2 {
                    font-size:$font-size36;
                    color:$white;
                }

            }
            .img-background {
                background: url('../images/people-bg.png');
                height: 520px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
            .bottom-text-container {
                margin-top: -20px;
                color: $white;
                font-family: 'DellReplicaLight';
                strong {
                    text-transform: uppercase;
                }
                h4 {
                    color:$yellow;
                    text-transform: uppercase;
                    font-size: $font-size26;
                    font-family: 'DellReplicaBold';
                    margin-top: 30px;
                }
            }
        }
        .mapka-points {


            .text-container {
                text-align: center;
                color: $white;
                margin-top: 40px;
                text-transform: uppercase;
                h2   {
                    font-family: 'DellReplicaLight';
                    font-size: $font-size42;
                }
                strong {
                    font-size: $font-size40;
                }
            }
            .bg-map {
                background: url('../images/world-map-bg.png');
                background-repeat: no-repeat;
                background-position: right bottom;
                background-size: contain;
                height: 400px;
                margin-top: -25px;

                .text-container-list { 
                    text-align: left;
                    text-transform: uppercase;
                    margin-top: 80px;
                    p {
                        font-family: 'DellReplicaLight';
                        color: $white;
                    }
                    strong {
                        text-decoration: underline;
                    }
                }
            }
        }
        .footer {
            background: url('../images/footer.png');
            background-repeat: no-repeat;
            background-position: bottom;

            .text-container {
                color:$blue;
                text-align: left;
                margin-top: 100px;
                font-size: $font-size20;
                margin-bottom: 20px;
                p {
                    font-family: 'DellReplicaLight';
                    text-transform: uppercase;
                }

            }
            .text {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color:$blue;
                text-transform: uppercase;
                font-size: $font-size120;
                line-height: 1;
                text-align: right;
            }
            .img-background {
                background: url('../images/making_OF_a.jpg');
                background-repeat: no-repeat;
                background-position: center;
                height: 300px;
                background-size: cover;
                position: relative;
                cursor: pointer;
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: #01549d87;

                }
            }
        }
    }
    .forma {
        background: url('../images/forma-people-bg.png');
        background-repeat: repeat-x;
        background-position: bottom;
        background-color: $blue;
        text-align: center;
        background-size: contain;
        .text-container {
            font-family: 'DellReplicaLight';
            text-transform: uppercase;
            h2 {
                font-size:$font-size36;
                color:$white;
            }

        }
        .img-background {
            background: url('../images/people-bg.png');
            height: 520px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        .bottom-text-container {
            margin-top: -20px;
            color: $white;
            font-family: 'DellReplicaLight';
            strong {
                text-transform: uppercase;
            }
            h4 {
                color:$yellow;
                text-transform: uppercase;
                font-size: $font-size26;
                font-family: 'DellReplicaBold';
                margin-top: 30px;
            }
        }
    }
    .bottom-section {
        background-color: #214e92;
    }
    .mapka-points {
        /*background: url('../images/footer-bg.png');*/
        background-repeat: repeat-x;
        background-position: top;
        background-color: $blue;
        height: 45vh;

        .text-container {
            position: relative;
            top: 20px;
            text-align: center;
            color: $white;
            margin-top: 40px;
            text-transform: uppercase;
            h2   {
                font-family: 'DellReplicaLight';
                font-size: $font-size42;
            }
            strong {
                font-size: $font-size40;
            }
        }
        .bg-map {
            background: url('../images/world-map-bg.png');
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: contain;
            height: 400px;
            margin-top: -25px;

            .text-container-list { 
                text-align: left;
                text-transform: uppercase;
                margin-top: 80px;
                p {
                    font-family: 'DellReplicaLight';
                    color: $white;
                }
                strong {
                    text-decoration: underline;
                }
            }
        }
    }
    .footer {
        background: url('../images/footer.png');
        background-repeat: no-repeat;
        background-position: bottom;
        height: 560px;

        background-color: $blue;
        .text-container {
            color:$blue;
            text-align: left;
            margin-top: 100px;
            font-size: $font-size20;
            margin-bottom: 20px;
            p {
                font-family: 'DellReplicaLight';
                text-transform: uppercase;
            }

        }
        .text {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color:$blue;
            text-transform: uppercase;
            font-size: $font-size120;
            line-height: 1;
            text-align: right;
        }
        .img-background {
            background: url(../images/making_OF_a.jpg);
            background-repeat: no-repeat;
            background-position: center;
            height: 300px;
            background-size: cover;
            position: relative;
            cursor: pointer;
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #01549d87;
                left: 0;
            }
        }
    }
}
