@import "./mixins";

@media #{$smallScreen} {
    main {

        .header-section {
            .line-mountain {
                background-position: 40% 0;
            }
            .title {
                h1 {
                    font-size:$font-size32;
                }
            }
            .text-under-phone {
                font-size:$font-size24;

            }
            .city-bg {

                .round-container {
                    .description {
                        width: 35%;
                    }
                }
            }
            .mapa-eu {
                .simple-box {
                    padding: 10px;
                }
            }

            .yellow-mountain {
                background-position: 50% 0;
                top:-60px;
                margin-bottom: -60px;
            }
        }
        .bottom-section {
            .footer {
                .text {
                    font-size: 70px;
                }
            }
        }
    }
}

@media #{$tablet} {
    main {

        .header-section {
            .line-mountain {
                background-position: 80% 0;
            }
            .top-left-bg {
                display: none;
            }
            .title {
                h1 {
                    font-size:$font-size42;
                    margin-top: 60px;
                    margin-top: 100px;
                }
            }
            .text-under-phone {
                font-size:$font-size24;

            }
            .city-bg {
                background-size: auto;
                background-position: 70% 0;
                .round-container {
                    margin-top: 300px;
                    .description {
                        width: 35%;
                    }
                }
            }
            .mapa-eu {
                .simple-box {
                    padding: 10px;
                }
                h2 {
                    font-size: 40px;
                    margin-top: 50px;
                }
            }

            .yellow-mountain {
                background-position: 50% 0;
                top:-60px;
                margin-bottom: -60px;
                background-color: #206cb1;
            }
        }
        .bariery-out {
            .text-container {
                text-align: center;
            }
            .bg {
                .bg-studio {
                    .pinka-left {
                        background-image:  url('../images/left-pineczka-midle.png'); 
                    }
                    /*                    .pinka-center {
                                            background-image:  url('../images/mobile-2.png');
                                            width: 100%;
                                            
                                        }
                    */
                    .pinka-right {
                        background-image:  url('../images/right-pineczka-midle.png');

                    }
                }
            }
        }
        .efektywnosc {
            background-attachment: scroll;
            .text-container {
                padding-top: 100%;
            }
        }
        .footer {
            .text {
                font-size: 70px;
            }
        }

    }
}

@media #{$phone} {
    .hidden-sm-down {
        display: none;
    }

    .hidden-md-up{
        display: block;
    }


    main {
        .header-section {

            .phone-bg {
                background-image:  url('../images/phone-bg-mobile.png');
                background-size: auto;
                background-position:  center;

                height: auto;
                .short_description {
                    padding-right: 14px;
                    h2,h3 {
                        font-size: $font-size18;
                    }
                    p {
                        font-size: $font-size16;

                    }
                    &:nth-child(2) { 
                        p {
                            padding: 0;
                        }
                    }
                }

            }
            .line-mountain {
                display: none;
            }
            .top-left-bg {
                display: none;
            }
            .title {
                margin-bottom: 0;
                h1 {
                    font-size:$font-size26;
                    margin-left: 20px;
                    margin-top: 50px;
                    padding-bottom: 10px;
                }
            }
            .text-under-phone {
                font-size:$font-size24;

            }
            .city-bg {
                background-image:  url('../images/blue-city-bg-mobile.png');
                background-size: contain !important;
                background-position: center 90px;
                .round-container {
                    position: relative;
                    margin-top: 300px;

                    .left-text {
                        top:-25px;
                        left: 25px;
                        text-align: left;
                        p {
                            padding: 0;
                        }
                    }
                    .right-text {
                        bottom: -60px;
                        text-align: right;

                        p {
                            padding: 0;
                        }
                    }
                    .description {
                        position: absolute;
                        width: 90%;
                        strong {
                            font-size: $font-size30;
                        }
                    }
                }
                .title {
                    padding: 0 10%;
                    margin-top: 60px;
                }
            }
            .mapa-eu {
                background-size: cover;
                h2 {
                    font-size: 50px;
                    text-align:  center;
                    margin: 50px 0;
                }
                .rounded-field {
                    h3 {
                        font-size:$font-size26;
                    }
                }
                .alert-box {
                    font-size:$font-size16;
                    margin-bottom: 20px;
                }
                .simple-box {
                    padding: 20px 10px;
                    p {
                        font-size:$font-size26;
                    }
                    strong {
                        display: block;
                    }
                }
            }
            .virtual-studio {
                background-color: #206cb1;

                .owl-carousel {
                    .owl-item {
                        .img-container {
                            height: 250px;
                        }
                        &.center {
                            transform: scale(1, 1);
                        }
                    }

                }
                .owl-nav {
                    top:20%;
                    .owl-next,.owl-prev {
                        width: 80px;
                    }
                }
            }

            .yellow-mountain {
                background-position: 50% 0;
                top:initial;
                margin-bottom: -60px;
                background-color: #206cb1;
                .text-container {
                    p,strong {
                        font-size: $font-size20;
                        margin-bottom: 10px;
                    }

                }
            }
        }
        .bariery-out {
            height: auto;
            .container {
                height: 440px;
            }
            .text-container {
                text-align: center;
            }
            .bg {
                background-image: none;
                padding-top: 40px;
                height: auto;
                .container {
                    padding: 0;
                    overflow: hidden;
                }
                .mobile-container {
                    margin: 5px 0;
                    line-height: 1;
                    .title-container {
                        margin: 0;
                        font-size: $font-size14;
                    }
                    &:first-child {
                        padding-left: 30px;
                    }

                    &:nth-child(2) {
                        padding-left: 40px;
                    }
                    &:nth-child(3) {
                        padding-left: 65px;
                    }

                }

                .bg-studio {
                    background-size: cover;
                    height: 300px !important;
                    position: relative;
                    background-position: center;
                    .pinka {
                        position: absolute;
                        left: 8px;
                        bottom: 64px;
                    }
                    .pinka-left {
                        background-image:  url('../images/mobile-1.png'); 
                        background-position: initial;
                    }
                    .pinka-center {
                        background-image:  url('../images/mobile-2.png');
                        background-position: initial;
                        left: 20px;
                        bottom: 45px;
                        width:100%;
                    }
                    .pinka-right {
                        background-image:  url('../images/mobile-3.png');
                        background-position: center;
                        bottom: 75px;
                    }
                }
            }
        }

        .nagrania {
            background: url('../images/nagranie-bg-mobile.png');
            background-position: bottom;
            background-repeat: repeat-x;

            .bg {
                background: url('../images/man-arrow-mobile.png');
                background-size: contain;
                background-repeat: no-repeat;
                height: 100vh;

            }
            .header-container {
                font-size: $font-size32;
                margin-top: 15px;
            }
            .mobile-position {
                flex-direction: column-reverse;

                position: absolute;
                bottom: 10%;
                text-align: center;
            }
            .img-container {
                display: none;
            }

        }
        .efektywnosc {
            background: url('../images/efektywnosc-bg-mobile.png');
            background-position: bottom;
            background-repeat: repeat-x;
            .bg {
                background: url('../images/man-is-studio-mobile.png');

                background-position: center 80%;
                background-repeat: no-repeat;
                height: auto;
                background-size: contain;
            }
            .header-container {
                color:$white;
                margin: 0;
            }
            .text-container {
                padding-top: 0;
                text-align: center;
            }
            .bottom-container {
                margin-top: 26em;
            }
        }
        .bg-nazywo {


            .studio-live {
                background: url('../images/people-studio-mobile.png');
                background-position: bottom;
                background-size: contain;
                background-repeat: no-repeat;
                .description-container {
                    margin-top: 20px;
                }
                .middle-description {
                    margin: 0;
                    bottom: 0;
                    p {
                        font-size: $font-size16;
                        margin: 0;
                    }
                }
            }
        }
        .youtube-box {

            .bottom-header {
                background: url('../images/people-studio-mobile2.png');
                color:$white;
                background-repeat: no-repeat;
                background-size: contain;
                height: 40vh;
                h2 {
                    padding-top: 30%;
                }
            }
            .text-container {
                h3 {
                    font-size: $font-size24;

                }
                strong {
                    font-size: $font-size22;

                }
            }
            .content {

                .img-container {
                    background-image: url('../images/play-mobile.png');
                    background-size: contain;
                    background-position: center;
                    height: 30vh;
                    z-index: 10;
                    position: relative;
                }
            }
        }
        .forma {
            overflow: hidden;
            .img-background {
                background-image: url('../images/people-bg-mobile.png');
                background-size: cover;
                height: 420px;
            }
            .text-container {
                position: absolute;
                top:50px;
                width: 100%;
                h2 {
                    text-align: center;
                    font-size:$font-size36;
                    strong {
                        display: block;
                    }
                }
            }
            .bottom-text-container {
                padding: 0 40px;
            }

        }
        .mapka-points {
            overflow: hidden;
            height: auto;
            .bg-map {
                background-size: cover;
                background-position: 50% top;
                position: relative;
                .row-mobile {
                    position: absolute;
                    bottom: 0px;
                }
                .text-container-list {
                    text-align: center;
                    font-size: $font-size14;
                }
            }
        }
        .footer {
            margin: 0;
            background-position: 50% 0;
            overflow: hidden;
            height: 710px;
            .container {
                padding: 0;
            }
            .text {
                font-size: 70px !important;
                text-align: left;
                padding: 0 40px;
            }
            .text-container {
                padding: 0 40px;
                text-align: center;
            }
            .img-background {
                background-size: cover !important;
                &:before {
                    background-color: inherit;
                }
            }
        }
    }
}
@media only screen and (min-width : 360px) and (max-width : 767px) {
    main {
        .bariery-out {
            .bg {
                .mobile-container {
                    &:first-child {
                        padding-left:  23%;
                    }

                    &:nth-child(2) {
                        padding-left: 25%;
                    }
                    &:nth-child(3) {
                        padding-left: 28%;
                    }
                }
                .bg-studio {
                    .pinka-center {
                        left: 20%;
                    }
                    .pinka-left {
                        left: 16%;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width : 768px) and (max-width : 768px) {
    main {
        .bariery-out {
            .bg {
                .mobile-container {
                    max-width: 100%;
                    &:first-child {
                        padding-left:  10%;
                    }

                    &:nth-child(2) {
                        padding-left: 34%;
                        flex-basis: auto;
                    }
                    &:nth-child(3) {
                        flex-basis: auto;
                        padding-left: 36%;
                    }
                }
                .bg-studio {
                    .pinka-center {
                        left: 33%;
                    }
                    .pinka-left {
                        left: 25%;
                    }
                }
            }
        }
        .bottom-section .studio-live .bottom-header {
            color:$granat;
        }
    }
}

@media #{$smallHeightScreen} {
    main {
        .header-section {
            .mt-40 {
                margin-top: 0px;
            }
            .phone-bg {
                height: 450px;

            }
            .title {
                margin-bottom: 0;
                h1 {
                    padding-bottom:10px;
                }
            }
            .city-bg {
                background-size: auto;

                .round-container {
                    margin-top: 45vh;
                }
                .title-header {
                }
            }
            .mapa-eu {
                padding-top: 50px;
                .rounded-field {
                    margin: 0px 0 30px;
                    h3 {
                        margin: 10px 30px;
                        font-size: 28px;
                    }
                    p {
                        margin: 0 30px 15px;
                    }
                }
                .alert {
                    font-size: 28px;
                    padding: 0;
                }
            }
            .yellow-mountain {
                background-size: cover;
            }
        }
        .bariery-out {
            h2 {
                margin-top: 10vh;
            }
            .title-container {
                margin-top: 0;
            }
            .bg {
                .bg-studio {
                    height: 465px;
                    background-size: contain;
                }
            }
        }
        .nagrania {
            .img-container {
                height: 360px;
                background-size: contain;
            }
        }
        .forma {
            .img-background {
                height: 400px;

            }
        }
        .youtube-box {
            .content {
                .img-container {
                    height: 350px;
                    background-size: cover;
                }
            }
        }
        .footer {
            .text {
                font-size: 100px;
            }
            .img-background {
                height: 200px;
                background-size: contain;
                background-position: left;
                &:before {
                    width: 80%;
                }
            }
        }
    }


}


@media (min-height:500px) and (max-height:700px) and (min-width : 1200px) {
    main .header-section .title h1{
        font-size: 30px;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    main .header-section .title span{
        font-size: 30px;
    }
    main .header-section .title {
        margin-bottom: 0;
    }
    main .header-section .phone-bg {
        height: 360px;
        background-size: cover;
    }

    main .header-section .mapa-eu .rounded-field {
        margin: 10px 0 0;
    }
    main .header-section .mapa-eu h2 {
        line-height: 2;   
    }
    main .header-section .mapa-eu .rounded-field h3 {
        margin: 0 30px;
    }

    main .header-section .mapa-eu .rounded-field p {
        font-size: 16px;
        margin: 0 30px 0px;
    }
    main .bariery-out .bg .bg-studio {
        height: 350px;
        background-size: contain;
    }
    main .nagrania .bg {
        background-size: cover;
        height: 100vh;
        background-position: left;

    }
    main .nagrania {
        background-size: contain;
        .img-container {
            height: 352px;
            width: 200px;
            background-position: center;
            margin: 0px 0 94px;
        }
    }
    main .nagrania .text-container {
        padding-top:0;
    }
    main .youtube-box .content .img-container {
        height: 300px;
    }
    main .mapka-points {
        height: 39vh;
    }

    main .footer .img-background {
        height: 200px;

    }
    main .footer .text {
        font-size: 70px;
    }
    main .header-section .text-under-phone {
        font-size: 20px;
    }
    main .header-section .line-mountain{
        height: 150px;
        background-size: contain;
    }

    .mt-40 {
        margin: 0;
    }
    main .efektywnosc {
        .bg {
            height: 100vh;
        }
        .bottom-container {
            margin-top: 15px;
        }
    }

    main .forma .bottom-text-container {
        margin-top: -230px;
    }
    main .forma .text-container h2 {
        padding-top: 60px;
    }
    main .header-section .city-bg .round-container .round {
        height: 200px;
        width: 200px;
    }
    main .header-section .city-bg {
        background-size: cover;
    }

    main .bariery-out h2 {
        margin-bottom: 0;
    }

    main .bariery-out .title-container {
        margin-top: 0;
    }

    main .bariery-out .bg .bg-studio .pinka {
        height: 200px;
    }
    main .mapka-points .bg-map {
        height: 320px;
    }

    main .mapka-points
    {
        .text-container-list {
            font-size: 13px;
        }   

        .text-container {

            strong {

                font-size: 20px;
            }
            h2 {
                font-size: 20px;
            }

        }
    }
    main .footer .text-container {
        font-size: 16px;

    }
}
