@import "./mixins";

// ------------------------------------
//          GLOBAL VARIABLES
// ------------------------------------

// colors:
//zrobić jako baground image
//bg colors
$trans: transparent;

//textcolors
$white: #fff;
$black: #000;
$granat:#00274F;
$blue:#0162af;
$yellow:#ffb520;
$round-color:#efba34;
$round-text-color:#1E65A4;
$under-section-text-color:#01133B;
$footer-text-color:#015FAC;
$sp-color:#0062B0;

//gradient-colors



//background colors
$menu-hover-color:#0ceaed;
$menu-hover-border-color:#FF000C;
$menu-border-color:#818181;
$diagonal-line-color:#FCCD3D;
$label-round-yellow-color:#FFB520;
$head-color:#282828;





// ------ fonty ------- //

@font-face {
    font-family: 'DellReplica';
    src: url('../fonts/DellReplica-Regular.otf'); 
}
@font-face {
    font-family: 'DellReplicaBold';
    src: url('../fonts/DellReplica-Heavy.otf'); 
}
@font-face {
    font-family: 'MyriadRegular';
    src: url('../assets/fonts/Myriad-Pro-Regular.ttf'); 
}

@font-face {
    font-family: 'DellReplicaLight';
    src: url('../fonts/DellReplica-Light.otf'); 
}

@font-face {
	font-family: 'DellReplicaMenu';
	src: url('../fonts/subset-DellReplica-Regular.eot');
	src: url('../fonts/subset-DellReplica-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-DellReplica-Regular.woff2') format('woff2'),
		url('../fonts/subset-DellReplica-Regular.woff') format('woff'),
		url('../fonts/subset-DellReplica-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


$dell: 'DellReplica', 'MyriadRegular';


$font-size120: 120px;
$font-size42: 42px;
$font-size40: 40px;
$font-size38: 38px;
$font-size36: 36px;
$font-size32: 32px;
$font-size30: 30px;
$font-size26: 26px;
$font-size24: 24px;
$font-size22: 22px;
$font-size20: 20px;
$font-size18: 18px;
$font-size16: 16px;
$font-size14: 14px;

$font-weight700: 700;
$font-weight500: 500;
$font-weight400: 400;
$font-weight300: 300;

//rwd

//$break-lg: 1200px;
//$break-md: 992px;
//$break-sm: 768px;

$phone: "only screen and (max-width : 768px)";

$tablet: "only screen and (min-width : 768px) and (max-width : 992px)";
$scalling: "only screen and( -webkit-min-device-pixel-ratio: 1.25 ) and (min-width : 992px)";
$smallScreen: "only screen and (min-width : 992px) and (max-width : 1200px)";

$smallHeightScreen: "only screen and (min-height : 700px) and (max-height: 900px)";
//uzywanie np @media #{$tablet} {...}



//paddingi
$pad20: 20px;
$pad15: 15px;
$pad30: 30px;
$pad40: 40px;
$pad50: 50px;
$pad60: 60px;
$pad100: 100px;
$pad150: 150px;
$pad250: 250px;

body {
    font-family: $dell;
}
h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: $dell;
    margin: 0;
}
strong {
    font-family: 'DellReplicaBold';
}
a {
    &:focus{
        outline: black auto 2px;
    }
}
p {
    margin: 0;
}

ul {
    list-style-type: none;
}

ul, ol {
    padding: 0;
    margin: 0;
    li {

        @media #{$phone} {
        }
    }
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.mt-145{
    margin-top: 15vh;
}

.mt-100 {
    margin-top: 100px;
}
.mt-90 {
    margin-top: 90px; 
}
.mt-40 {
    margin-top: 40px;
}
.mt-70 {
    margin-top: 70px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-30 {
    margin-top: 30px;
}
.hideme {
    opacity: 0;   
}
.relative {
    position: relative;
}

.hidden-md-up {
    display: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 10000000000000000000000;
    background: url('../images/modal/bg.png') no-repeat;
    background-size: cover;
    max-width: 1160px;
    width: 100%;
    border: 1px solid #08c1c1;
    outline: 0;
    left: 50%;
    top: 48px;
    transform: translate(-50%, 0);
    height: auto;
    overflow: auto;
    .modal-body {
        padding: 0;
    }
    .modal-dialog_custom {
        width: 100%;
        float: left;
    }
    .modal-header {
        background: url(../images/modal/top.png) 0 0 repeat-x;
        height: 46px;
        .close {
            float: right;
            background: url(../images/modal/close.png) 50% 50% no-repeat;
            width: 46px;
            height: 46px;
            border: 0;
            text-indent: -99999px;
            cursor: pointer;
            outline: 0;
        }
    }
    .container_video {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

#aboutus {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 100px;
    .modal-content {
        background-color: transparent;
    }
    h3 {
        font-size: 28px;
        text-transform: uppercase;
        font-family: 'DellReplicaBold';
        font-weight: bold;
        margin: 30px 0;
    }
    h4 {
        font-size: 18px;
    }
    a {
        margin: 0 10px;
        align-content: center;
        justify-content: center;
        img {
            width: 100%;
            align-content: center;
            justify-content: center;
        }
    }
    .logo {
        max-width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
        justify-content: center;
    }
}